body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

table{
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th{
    background-color: #007bff;
    color: white;
}

th, td{
    padding: 15px;
}